<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{specific_album.album}}</title>
</head>
<style>
body {
  font-family: "Avenir";
  font-size: 30px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/28/e9/2c/28e92c4ca494f3e611fd94f95cec4b29.jpg");
  padding: 30px;
}

</style>
<body>
<center>
<h2><u>{{specific_album.album}}</u></h2>
<b>Artist:</b> {{specific_album.artist}}<br>
<b>Genre:</b> {{specific_album.genre}}<br>
<b>Music Score (out of 10):</b> {{specific_album.music_10}}<br>
<b>Release Date:</b> {{specific_album.release_date}}<br>
<b>Date Listened to by Asa:</b> {{specific_album.date}}<br>
<b>Favorite Songs:</b> {{specific_album.tt}}<br>
<b>Asa's Comments:</b> {{specific_album.comments}} <br> <br>
{% if search_term %}
&#8617 to <a href="{% url 'albums:search' %}">search results</a> or <a href="{% url 'albums:index' %}">all of Asa's albums</a>
{% else %}
<a href="{% url 'albums:index' %}">&#8617 to all of Asa's albums</a>
{% endif %}
</center>
</body>
</html>
